USE [QLDSV]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[BangDiems]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiems](
	[LopTCID] [bigint] NOT NULL,
	[MaSoSV] [bigint] NOT NULL,
	[DiemChuyenCan] [decimal](5, 2) NOT NULL,
	[DiemGiuaKy] [decimal](5, 2) NOT NULL,
	[DiemThiCuoiKy] [decimal](5, 2) NOT NULL,
	[TiLeDiemQuaTrinh] [smallint] NOT NULL,
	[TiLeDiemThiCuoiKy] [smallint] NOT NULL,
	[DiemTB] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_BangDiems] PRIMARY KEY CLUSTERED 
(
	[LopTCID] ASC,
	[MaSoSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangViens]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangViens](
	[MaSoGV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenGV] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[HocVi] [nvarchar](100) NOT NULL,
	[KhoaID] [bigint] NOT NULL,
 CONSTRAINT [PK_GiangViens] PRIMARY KEY CLUSTERED 
(
	[MaSoGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoas]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoas](
	[KhoaID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Khoas] PRIMARY KEY CLUSTERED 
(
	[KhoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopDanhNghias]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopDanhNghias](
	[LopDNID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaLopDN] [nvarchar](10) NOT NULL,
	[MaSoGV] [bigint] NOT NULL,
	[KhoaID] [bigint] NOT NULL,
	[SoLuongSV] [int] NOT NULL,
	[NamNhapHocCuaSV] [smallint] NOT NULL,
 CONSTRAINT [PK_LopDanhNghias] PRIMARY KEY CLUSTERED 
(
	[LopDNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopTinChis]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopTinChis](
	[LopTCID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaLopTC] [nvarchar](10) NOT NULL,
	[MaMon] [bigint] NOT NULL,
	[MaSoGV] [bigint] NOT NULL,
	[HocKy] [nvarchar](10) NOT NULL,
	[NamHoc] [smallint] NOT NULL,
	[KhoaID] [bigint] NOT NULL,
 CONSTRAINT [PK_LopTinChis] PRIMARY KEY CLUSTERED 
(
	[LopTCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHocs]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocs](
	[MaMon] [bigint] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[SoTietLT] [int] NOT NULL,
	[SoTietTH] [int] NOT NULL,
	[KhoaID] [bigint] NOT NULL,
 CONSTRAINT [PK_MonHocs] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhViens]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhViens](
	[MaSoSV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoDienThoai] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[LopDNID] [bigint] NOT NULL,
 CONSTRAINT [PK_SinhViens] PRIMARY KEY CLUSTERED 
(
	[MaSoSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 15/06/2024 5:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[RoleID] [tinyint] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240614095219_Migration1', N'7.0.20')
GO
INSERT [dbo].[BangDiems] ([LopTCID], [MaSoSV], [DiemChuyenCan], [DiemGiuaKy], [DiemThiCuoiKy], [TiLeDiemQuaTrinh], [TiLeDiemThiCuoiKy], [DiemTB]) VALUES (1, 1, CAST(10.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), 50, 50, CAST(9.15 AS Decimal(5, 2)))
INSERT [dbo].[BangDiems] ([LopTCID], [MaSoSV], [DiemChuyenCan], [DiemGiuaKy], [DiemThiCuoiKy], [TiLeDiemQuaTrinh], [TiLeDiemThiCuoiKy], [DiemTB]) VALUES (1, 2, CAST(7.00 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), 50, 50, CAST(7.30 AS Decimal(5, 2)))
INSERT [dbo].[BangDiems] ([LopTCID], [MaSoSV], [DiemChuyenCan], [DiemGiuaKy], [DiemThiCuoiKy], [TiLeDiemQuaTrinh], [TiLeDiemThiCuoiKy], [DiemTB]) VALUES (1, 3, CAST(9.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(6.00 AS Decimal(5, 2)), 50, 50, CAST(7.85 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[GiangViens] ON 

INSERT [dbo].[GiangViens] ([MaSoGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [HocVi], [KhoaID]) VALUES (1, N'Nguyễn Văn A', CAST(N'1990-11-20T00:00:00.0000000' AS DateTime2), 1, N'nguyenvana@gmail.com', N'Thạc sĩ', 1)
INSERT [dbo].[GiangViens] ([MaSoGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [HocVi], [KhoaID]) VALUES (2, N'Trần Thị B', CAST(N'1985-03-15T00:00:00.0000000' AS DateTime2), 0, N'tranthib@gmail.com', N'Tiến sĩ', 2)
INSERT [dbo].[GiangViens] ([MaSoGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [HocVi], [KhoaID]) VALUES (3, N'Lê Văn C', CAST(N'1978-07-22T00:00:00.0000000' AS DateTime2), 1, N'levanc@gmail.com', N'Phó giáo sư', 3)
SET IDENTITY_INSERT [dbo].[GiangViens] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoas] ON 

INSERT [dbo].[Khoas] ([KhoaID], [MaKhoa], [TenKhoa]) VALUES (1, N'CNTT', N'Khoa Công nghệ thông tin')
INSERT [dbo].[Khoas] ([KhoaID], [MaKhoa], [TenKhoa]) VALUES (2, N'KT', N'Khoa Kinh tế')
INSERT [dbo].[Khoas] ([KhoaID], [MaKhoa], [TenKhoa]) VALUES (3, N'NNA', N'Khoa Ngôn ngữ Anh')
SET IDENTITY_INSERT [dbo].[Khoas] OFF
GO
SET IDENTITY_INSERT [dbo].[LopDanhNghias] ON 

INSERT [dbo].[LopDanhNghias] ([LopDNID], [MaLopDN], [MaSoGV], [KhoaID], [SoLuongSV], [NamNhapHocCuaSV]) VALUES (1, N'22ĐHTT06', 1, 1, 60, 2022)
INSERT [dbo].[LopDanhNghias] ([LopDNID], [MaLopDN], [MaSoGV], [KhoaID], [SoLuongSV], [NamNhapHocCuaSV]) VALUES (2, N'21ĐHKT01', 2, 2, 50, 2021)
INSERT [dbo].[LopDanhNghias] ([LopDNID], [MaLopDN], [MaSoGV], [KhoaID], [SoLuongSV], [NamNhapHocCuaSV]) VALUES (3, N'20ĐHNA03', 3, 3, 40, 2020)
SET IDENTITY_INSERT [dbo].[LopDanhNghias] OFF
GO
SET IDENTITY_INSERT [dbo].[LopTinChis] ON 

INSERT [dbo].[LopTinChis] ([LopTCID], [MaLopTC], [MaMon], [MaSoGV], [HocKy], [NamHoc], [KhoaID]) VALUES (1, N'22ĐHKT01', 2, 2, N'2', 2024, 2)
INSERT [dbo].[LopTinChis] ([LopTCID], [MaLopTC], [MaMon], [MaSoGV], [HocKy], [NamHoc], [KhoaID]) VALUES (2, N'23ĐHTT01', 1, 1, N'1', 2023, 1)
INSERT [dbo].[LopTinChis] ([LopTCID], [MaLopTC], [MaMon], [MaSoGV], [HocKy], [NamHoc], [KhoaID]) VALUES (3, N'22ĐHNA01', 3, 3, N'2', 2024, 3)
SET IDENTITY_INSERT [dbo].[LopTinChis] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHocs] ON 

INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoTinChi], [SoTietLT], [SoTietTH], [KhoaID]) VALUES (1, N'Lập trình Windows', 3, 45, 0, 1)
INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoTinChi], [SoTietLT], [SoTietTH], [KhoaID]) VALUES (2, N'Kế toán tài chính', 4, 60, 0, 2)
INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoTinChi], [SoTietLT], [SoTietTH], [KhoaID]) VALUES (3, N'Văn học Anh', 3, 45, 0, 3)
SET IDENTITY_INSERT [dbo].[MonHocs] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhViens] ON 

INSERT [dbo].[SinhViens] ([MaSoSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [LopDNID]) VALUES (1, N'Nguyễn Văn An', CAST(N'2004-08-14T00:00:00.0000000' AS DateTime2), 1, N'Số 10, Đường Trần Hưng Đạo, Quận 1, Thành phố Hồ Chí Minh', N'0827983728', N'annv@gmail.com', 1, 1)
INSERT [dbo].[SinhViens] ([MaSoSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [LopDNID]) VALUES (2, N'Trần Thị Bích', CAST(N'2003-05-22T00:00:00.0000000' AS DateTime2), 0, N'Số 5, Đường Lê Lợi, Quận Hải Châu, Thành phố Đà Nẵng', N'0912345678', N'bichtt@gmail.com', 1, 2)
INSERT [dbo].[SinhViens] ([MaSoSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [LopDNID]) VALUES (3, N'Lê Minh Châu', CAST(N'2002-09-30T00:00:00.0000000' AS DateTime2), 0, N'Số 15, Đường Phan Đình Phùng, Quận Ba Đình, Hà Nội', N'0938765432', N'chaulm@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[SinhViens] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoans] ON 

INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [RoleID], [TinhTrang]) VALUES (-1, N'admin@gmail.com', N'111', 1, 1)
INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [RoleID], [TinhTrang]) VALUES (1, N'nguyenvana@gmail.com', N'111', 2, 1)
INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [RoleID], [TinhTrang]) VALUES (2, N'tranthib@gmail.com', N'111', 2, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoans] OFF
GO
ALTER TABLE [dbo].[BangDiems]  WITH CHECK ADD  CONSTRAINT [FK_BangDiems_LopTinChis_LopTCID] FOREIGN KEY([LopTCID])
REFERENCES [dbo].[LopTinChis] ([LopTCID])
GO
ALTER TABLE [dbo].[BangDiems] CHECK CONSTRAINT [FK_BangDiems_LopTinChis_LopTCID]
GO
ALTER TABLE [dbo].[BangDiems]  WITH CHECK ADD  CONSTRAINT [FK_BangDiems_SinhViens_MaSoSV] FOREIGN KEY([MaSoSV])
REFERENCES [dbo].[SinhViens] ([MaSoSV])
GO
ALTER TABLE [dbo].[BangDiems] CHECK CONSTRAINT [FK_BangDiems_SinhViens_MaSoSV]
GO
ALTER TABLE [dbo].[GiangViens]  WITH CHECK ADD  CONSTRAINT [FK_GiangViens_Khoas_KhoaID] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoas] ([KhoaID])
GO
ALTER TABLE [dbo].[GiangViens] CHECK CONSTRAINT [FK_GiangViens_Khoas_KhoaID]
GO
ALTER TABLE [dbo].[LopDanhNghias]  WITH CHECK ADD  CONSTRAINT [FK_LopDanhNghias_GiangViens_MaSoGV] FOREIGN KEY([MaSoGV])
REFERENCES [dbo].[GiangViens] ([MaSoGV])
GO
ALTER TABLE [dbo].[LopDanhNghias] CHECK CONSTRAINT [FK_LopDanhNghias_GiangViens_MaSoGV]
GO
ALTER TABLE [dbo].[LopDanhNghias]  WITH CHECK ADD  CONSTRAINT [FK_LopDanhNghias_Khoas_KhoaID] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoas] ([KhoaID])
GO
ALTER TABLE [dbo].[LopDanhNghias] CHECK CONSTRAINT [FK_LopDanhNghias_Khoas_KhoaID]
GO
ALTER TABLE [dbo].[LopTinChis]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChis_GiangViens_MaSoGV] FOREIGN KEY([MaSoGV])
REFERENCES [dbo].[GiangViens] ([MaSoGV])
GO
ALTER TABLE [dbo].[LopTinChis] CHECK CONSTRAINT [FK_LopTinChis_GiangViens_MaSoGV]
GO
ALTER TABLE [dbo].[LopTinChis]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChis_Khoas_KhoaID] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoas] ([KhoaID])
GO
ALTER TABLE [dbo].[LopTinChis] CHECK CONSTRAINT [FK_LopTinChis_Khoas_KhoaID]
GO
ALTER TABLE [dbo].[LopTinChis]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChis_MonHocs_MaMon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHocs] ([MaMon])
GO
ALTER TABLE [dbo].[LopTinChis] CHECK CONSTRAINT [FK_LopTinChis_MonHocs_MaMon]
GO
ALTER TABLE [dbo].[MonHocs]  WITH CHECK ADD  CONSTRAINT [FK_MonHocs_Khoas_KhoaID] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoas] ([KhoaID])
GO
ALTER TABLE [dbo].[MonHocs] CHECK CONSTRAINT [FK_MonHocs_Khoas_KhoaID]
GO
ALTER TABLE [dbo].[SinhViens]  WITH CHECK ADD  CONSTRAINT [FK_SinhViens_LopDanhNghias_LopDNID] FOREIGN KEY([LopDNID])
REFERENCES [dbo].[LopDanhNghias] ([LopDNID])
GO
ALTER TABLE [dbo].[SinhViens] CHECK CONSTRAINT [FK_SinhViens_LopDanhNghias_LopDNID]
GO
